.eng.active {
    display: flex;
    justify-content: flex-start;
}

.esp.active {
    display: flex;
    justify-content: flex-start;
}

.eng {
    display: none;
}

.esp {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#cabecera {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
}

#cabecera p {
    margin: 0;
}

#perfil {
    border-radius: 30px;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    margin: 1.5%;
}

#infoPerfil {
    margin-left: 4%;
}

#Contacto {
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5%;
    height: 30%;
}

#Estudios {
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5%;
    height: 35%;
}

#Estudios div{
    width: 60%;
}

#Estudios h2{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 0px;
}

#Experiencias {
    padding: 5%;
    padding-left: 8%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
}

#Experiencias div{
    width: 60%;
}

#Experiencias h2{
    width: 60%;
    justify-content: flex-end;
}

#Experiencias h3{
    width: 60%;
    justify-content: flex-start;
}

#Experiencias h5{
    width: 60%;
    justify-content: flex-start;
}

.elementoLista {
    display: flex;
    justify-content: space-evenly;
}

.elementoLista p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 2%;
}

#Habilidades {
    padding: 5%;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 35%;
}

#Habilidades div{
    width: 60%;
}

#Habilidades h2{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 0px;
}

#cuerpo{
    margin: 0px;
    width: 100%;
}

#listaExperiencias {
    width: 80%;
    align-content: flex-start;
    margin: 15px;
}

#listaExperiencias2 {
    width: 80%;
    align-content: flex-start;
    margin: 15px;
}

#listaHabilidades {
    width: 90%;
    align-content: flex-start;
    margin: 15px;
}

#listaEstudios {
    width: 90%;
    align-content: flex-start;
    margin: 15px;
}

.boton {
    cursor: pointer;
}